:root{
  --primaryColor: #E50914;
  --secondaryColor: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondaryColor);
  font-family: Arial, Helvetica, sans-serif;
  color: #EEE;
}

.svg-div-g {
  height: 20px;
  width: 20px;
}

.svg-div-p {
  height: 16px;
  width: 16px;
}

.keep-inline-block {
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 100;
  padding: 0 5%;
}

.header-container {
  height: 5rem;
}

.header-logo h2 {
  color: var(--primaryColor);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  display: inline-block;
}

.header-container li {
  display: inline-block;
  margin-left: 1.5rem;
}

.header-options-left ul:first-child{
  margin-left: 2rem;
}

.header-container a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #EEE;
  transition: 0.3s;
}

.header-options-left-mobile {
  display: none;
  margin-left: 2rem;
  position: relative;
}

.dropdown-options-mobile{
  margin-top: 0.5rem;
  display: none;
  position: absolute;
  background-color: rgba( 0, 0, 0, 0.8);
  height: auto;
  width: auto;
  border: 1px solid rgba( 255, 255, 255, 0.4 );
}

.dropdown-options-mobile ul{
  display: grid;
  margin: 0;
  place-content: stretch;
}

.dropdown-options-mobile li {
  margin-left: 0;
  transition: 0.3s;
}

.dropdown-options-mobile li:hover {
  background-color: rgba( 255, 255, 255, 0.4 );
}

.dropdown-options-mobile li a {
  display: block;
  text-align: center;
  size: auto;
  padding: 1rem 2rem;
}

@media (max-width: 1200px){
  .header-container a {
    font-size: 1rem;
  }

  .header-logo h2 {
    font-size: 2rem;
  }
}

@media (max-width: 950px){
  .header-options-left {
    display: none;
  }

  .header-logo h2 {
    font-size: 1.5rem;
  }

  .svg-div-g {
    height: 16px;
    width: 16px;
  }
  
  .svg-div-p {
    height: 12px;
    width: 12px;
  }

  .header-options-left-mobile {
    display: inline-block;
  }

  .header-container {
    height: 3rem;
  }
}

.header-container a:hover{
  color: #AAA;
}

.dropdown-options-mobile a:hover{
  color: #FFF;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .header-options-right #pesquisar, .header-options-right #notificacao {
    display: none;
  }
}

.main-container {
  margin: 5rem 0 0 5%;
}

@media (max-width: 950px){
  .main-container {
    margin-top: 3rem;
  }
}

.banner-principal {
  display: grid;
  grid-template-columns: 5fr 7fr;
  height: 70vh;
}

@media (max-width: 950px){
  .banner-principal {
    grid-template-columns: 3fr 2fr;
  }
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-image, .banner-info{
  max-width: 100%;
  overflow: hidden;
  position: relative;
}


.banner-info {
  display: grid;
  align-content: center;
}

.banner-image::before {
  background-image: linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -moz-linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -ms-linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -o-linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -webkit-linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );

  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-image::after {
  background-image: linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -moz-linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -ms-linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -o-linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -webkit-linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );

  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-buttons {
  display: flex;
  gap:20px;
}

@media (max-width: 700px){
  .banner-buttons {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 1rem;
  }
}

.banner-buttons a {
  display: flex;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  align-items: center;
  gap: 0.4rem;
  font-weight: 700;
}

.assistir-button {
  background-color: #EEE;
  color:#141414;
}

.assistir-button:hover {
  background-color: #CCC;
}

.mais-info-button {
  background-color: #888;
  color:#EEE;
}

.mais-info-button:hover{
  background-color: #666;
}

.banner-title {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.banner-description {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .banner-title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  
  .banner-description {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

.list-cards {
  background-color: aqua;
  width: max-content;
}

.card-data {
  width:2rem;
  height: 100px;
  background-color: #E50914;
  margin: 0.4rem;
}

.swiper {
  height: 12rem;
}

.bloco-categoria {
  padding-bottom: 5rem;
}

.footer {
  padding: 2rem 10%;
  height: 15rem;
  display: grid;
  align-content: space-between;
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.bg1 {
  background-color: aqua;
}
.bg2 {
  background-color:brown;
}
.bg3 {
  background-color:lightcoral;
}
.bg4 {
  background-color:blueviolet;
}
.bg5 {
  background-color:chartreuse;
}
.bg6 {
  background-color:darkgoldenrod;
}