:root{
  --primaryColor: #E50914;
  --secondaryColor: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondaryColor);
  font-family: Arial, Helvetica, sans-serif;
  color: #EEE;
}

ul {
  list-style-type: none;
}

.svg-div-g {
  height: 20px;
  width: 20px;
}

.svg-div-p {
  height: 16px;
  width: 16px;
}

.keep-inline-block {
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondaryColor);
  z-index: 100;
  padding: 0 5%;
}

.header-container {
  height: 5rem;
}

.header-logo h2 {
  color: var(--primaryColor);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  display: inline-block;
}

.header-container li {
  display: inline-block;
  margin-left: 1.5rem;
}

.header-options-left ul:first-child{
  margin-left: 2rem;
}

.header-container a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #EEE;
  transition: 0.3s;
}

.header-options-left-mobile {
  display: none;
  margin-left: 2rem;
  position: relative;
}

.dropdown-options-mobile{
  margin-top: 0.5rem;
  display: none;
  position: absolute;
  background-color: rgba( 0, 0, 0, 0.8);
  height: auto;
  width: auto;
  border: 1px solid rgba( 255, 255, 255, 0.4 );
}

.dropdown-options-mobile ul{
  display: grid;
  margin: 0;
  place-content: stretch;
  grid-template-columns: 1fr;
}

.dropdown-options-mobile li {
  margin-left: 0;
  transition: 0.3s;
}

.dropdown-options-mobile li:hover {
  background-color: rgba( 255, 255, 255, 0.4 );
}

.dropdown-options-mobile li a {
  display: block;
  text-align: center;
  size: auto;
  padding: 1rem 1.5rem;
}

@media (max-width: 1200px){
  .header-container a {
    font-size: 1rem;
  }

  .header-logo h2 {
    font-size: 2rem;
  }
}

@media (max-width: 950px){
  .header-options-left {
    display: none;
  }

  .header-logo h2 {
    font-size: 1.5rem;
  }

  .svg-div-g {
    height: 16px;
    width: 16px;
  }
  
  .svg-div-p {
    height: 12px;
    width: 12px;
  }

  .header-options-left-mobile {
    display: inline-block;
  }

  .header-container {
    height: 3rem;
  }
}

.header-container a:hover{
  color: #AAA;
}

.dropdown-options-mobile a:hover{
  color: #FFF;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .header-options-right #pesquisar, .header-options-right #notificacao {
    display: none;
  }
}

.main-container {
  margin: 5rem 0 0 5%;
}

@media (max-width: 950px){
  .main-container {
    margin-top: 3rem;
  }
}

.banner-principal {
  display: grid;
  grid-template-columns: 5fr 7fr;
  height: 70vh;
}

@media (max-width: 950px){
  .banner-principal {
    grid-template-columns: 3fr 2fr;
    height: 60vh;
  }
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-image, .banner-info{
  max-width: 100%;
  overflow: hidden;
  position: relative;
}


.banner-info {
  display: grid;
  align-content: center;
}



.banner-image::before {
  background-image: linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -moz-linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -ms-linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -o-linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -webkit-linear-gradient( 0deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );

  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-image::after {
  background-image: linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -moz-linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -ms-linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -o-linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );
  background-image: -webkit-linear-gradient( 90deg, 
  var(--secondaryColor) 0%, rgba( 255, 255, 255, 0 ) 40% );

  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-buttons {
  display: flex;
  gap:20px;
}

@media (max-width: 700px){
  .banner-buttons {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 1rem;
  }
}

.banner-buttons a {
  display: flex;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  align-items: center;
  gap: 0.4rem;
  font-weight: 700;
}

.assistir-button {
  background-color: #EEE;
  color:#141414;
}

.assistir-button:hover {
  background-color: #CCC;
}

.mais-info-button {
  background-color: #888;
  color:#EEE;
}

.mais-info-button:hover{
  background-color: #666;
}

.banner-title {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.banner-description {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}


@media (max-width: 900px), (max-height: 600px) {
  .banner-title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  
  .banner-description {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
    .banner-info {
      margin-top: -5rem;
  }
}

@media (max-width: 550px){
  .banner-info {
    margin-top: -3rem;
  }

  .banner-title {
    font-size: 1rem;
  }
  .banner-buttons, .banner-description {
    font-size: 0.8rem;
  }
}

.card-data {
  cursor:pointer;
  position: relative;
}

.card-data .title-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card-data .title-img::before {
  content: attr(data-content);
  position: absolute;
  left: 0.5rem;
  font-family: 'Londrina Outline', cursive;
  font-size: 3rem;
  text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
}

.title-media {
  width: 100%;
  text-align: center;
  color: var(--secondaryColor);
  text-shadow: 2px 2px white;
  position: absolute;
  bottom: 1rem;
  background-color: rgba( 255, 255, 255, 0.7);
  padding: 0.5rem;
  font-family: 'Bree Serif', serif;
}

.top-title {
  font-family: 'Londrina Outline', cursive;
}

.play-media {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  transition: 0.5s;
}

.play-media a{
  position: absolute;
  width: 100%;
  height: 100%;
}

.play-media svg {
  place-self: center;
  color: rgba( 255, 255, 255, 0);
  height: 4rem;
  transition: 0.3s ease-out;
  padding-bottom: 1rem;
}

.play-media:hover {
  background-color: rgba( 0, 0, 0, 0.4);
}

.play-media:hover > svg{
  height: 5rem;
  color: #EEE;
}

.swiper {
  height: 12rem;
  position: relative;
}


.swiper-wrapper {
  margin-top: 1rem;
}

.swiper-pagination {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  height: 1rem;
}

.swiper .swiper-button-next,.swiper .swiper-button-prev {
  height: inherit;
  top: 0;
  margin-top: 1rem;
  transition: 0.3s;
  opacity: 0.8;
  color: white;
}

.swiper .swiper-button-next::after,.swiper .swiper-button-prev::after {
margin-bottom: 1rem;
transition: 0.3s;
} 

.swiper .swiper-button-next:hover::after,.swiper .swiper-button-prev:hover::after {
  font-size: 3rem;
}

.swiper .swiper-button-next {
  padding: 0 3rem 0 3rem;
  margin-right: -1rem;
}

.swiper .swiper-button-prev {
  padding: 0 3rem 0 3rem;
  margin-left: -1rem;
}

.swiper .swiper-button-next:hover, .swiper .swiper-button-prev:hover {
  background-color: rgba( 0, 0, 0, 0.2);
  color: #FFF;
}


.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal span.swiper-pagination-bullet {
 height: 0.5rem;
 width: 1.4rem;
 border-radius: 0%;
 margin: 0 0.2rem;
 background-color: rgba( 255, 255, 255, 0 );
}

.swiper:hover > .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal span.swiper-pagination-bullet {
  
 background-color: var(--primaryColor);
  cursor:pointer;
}

.bloco-categoria {
  padding-bottom: 5rem;
}

@media (max-width: 550px){
  .swiper {
    height: 8rem;
  }

  .bloco-categoria {
    padding-bottom: 2rem;
  }

  .bloco-categoria h1 {
    font-size: 1.2rem;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal span.swiper-pagination-bullet {
    height: 0.3rem;
    width: 0.8rem;
  }

  .swiper .swiper-button-next::after,.swiper .swiper-button-prev::after {
    font-size: 1rem;
  } 
    
  .swiper .swiper-button-next:hover::after,.swiper .swiper-button-prev:hover::after {
    font-size: 1.2rem;
  }
}

.footer {
  padding: 0 10% 2rem 10%;
  height: auto;
  display: grid;
  align-content: space-between;
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding-bottom: 3rem;
}

.footer {
  color: #AAA;
  font-size: 0.8rem;
}

.footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.footer li {
  padding-bottom: 0.5rem;
}

.footer li a {
  font-weight: 400;
}

.footer h1 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.footer .contato li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.4rem;
  align-items: center;
}

@media (max-width: 950px) {
  .footer {
    padding: 0 10% 2rem 10%;
  }

  .footer-info {
    gap: 2rem;
  }
}

.copyright {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.tmdb img {
  height: 1rem;

}

.copyright-cassanoflix {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  align-items: center;
}

.copyright-cassanoflix img {
  width: 1rem;
}

@media (max-width: 700px) {
  .footer-info {
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
    gap: 2rem;
  }

  .copyright {
    grid-template-columns: auto;
    gap: 1rem;
  }

  .tmdb {
    height: 1rem;
    width: fit-content;
  }
}

#templateCard {
  display: none;
}

.bg1 {
  background-color: aqua;
}
.bg2 {
  background-color:brown;
}
.bg3 {
  background-color:lightcoral;
}
.bg4 {
  background-color:blueviolet;
}
.bg5 {
  background-color:chartreuse;
}
.bg6 {
  background-color:darkgoldenrod;
}